body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #0f172a;
  font-family: Poppins;
  min-height: 100vh;
}
.container {
  color: white;
  margin: 15px auto;
  background-color: #1e293b;
  max-width: 1200px;
  width: 80%;
  padding: 30px;
  border-radius: 20px;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 40px;
}
.logo {
  display: flex;
  flex-direction: row;

  align-items: center;
  gap: 10px;
}
.logo h2 {
  font-weight: 600;
}
#temperature-unit {
  background-color: #0f172a;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  height: 35px;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#city-input {
  border: none;
  width: 500px;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
}
#city-input::placeholder {
  color: grey;
}
#search-btn {
  width: 100px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}
#search-btn:hover {
  background-color: rgb(17, 17, 220);
}
.search-bar {
  display: flex;
  gap: 10px;
}
@media (max-width: 768px) {
  .search-bar {
    flex-direction: column;
    align-items: center;
  }
  #city-input {
    width: 100%;
  }
  #search-btn {
    width: 100%;
  }
}
.dashboard {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
  padding: 20px;
  border-radius: 20px;

  margin: 20px;
}
.current-weather {
  display: grid;
  grid-template-columns: 1fr 1fr;

  border-radius: 20px;
  background-color: darkcyan;
}
.current-left-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  padding: 20px;
}
.current-right-panel {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}
.weather-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  font-size: 30px;
}
.weather-footer {
  display: flex;
  gap: 40px;
  padding-top: 20px;
}
.weather-details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-evenly;
  align-items: center;
  background-color: #0f172a;
  margin: 20px 0px;
  border-radius: 20px;
  padding: 20px;
}
.weather-details-div {
  padding: 10px;
  margin: 0px 10px;
  border-radius: 10px;
  background-color: #1e293b;
}
.daily-forecast {
  display: flex;
}
.daily-forecast {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #0f172a;
  padding: 20px;
  border-radius: 20px;
  margin-top: 10px;
}
.weather-forecast-div {
  flex: 1;

  padding: 20px;
  margin: 0px 10px;
  border-radius: 10px;
  background-color: #1e293b;
}
.hourly-forecast {
  display: flex;
  flex-direction: column;
  background-color: #0f172a;
  padding: 20px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 10px;
}
.hourly-forecast-div {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin: 10px 10px;
  border-radius: 10px;
  background-color: #1e293b;
}
@media (max-width: 768px) {
  .dashboard {
    grid-template-columns: 1fr;
  }
  .current-weather {
    grid-template-columns: 1fr;
  }
  .weather-details {
    grid-template-columns: 1fr 1fr;
  }
  .hourly-forecast {
    flex-direction: column;
  }
}
